absl-py==0.12.0
aiofiles==0.7.0
aiohttp==3.8.1
aiosignal==1.2.0
asgiref==3.4.1
astunparse==1.6.3
async-timeout==4.0.1
attrs==21.2.0
base58==2.1.1
bcrypt==3.2.0
bitarray==1.2.2
cachetools==4.2.2
certifi==2021.5.30
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.8
click==8.0.1
colorama==0.4.4
cryptography==35.0.0
cycler==0.10.0
cytoolz==0.11.2
et-xmlfile==1.1.0
eth-abi==2.1.1
eth-account==0.5.6
eth-hash==0.3.2
eth-keyfile==0.5.1
eth-keys==0.3.3
eth-rlp==0.2.1
eth-typing==2.2.2
eth-utils==1.10.0
fastapi==0.68.1
flatbuffers==1.12
frozenlist==1.2.0
gast==0.4.0
google-auth==1.30.1
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
grpcio==1.34.1
h11==0.12.0
h5py==3.1.0
hexbytes==0.2.2
httptools==0.2.0
idna==2.10
ipfshttpclient==0.8.0a2
Jinja2==3.0.3
joblib==1.0.1
jsonschema==3.2.0
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
lru-dict==1.1.7
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.3.4
multiaddr==0.0.9
multidict==5.2.0
netaddr==0.8.0
numpy==1.19.5
oauthlib==3.1.1
openpyxl==3.0.9
opt-einsum==3.3.0
parsimonious==0.8.1
passlib==1.7.4
pdfrw==0.4
Pillow==8.3.0
protobuf==3.17.2
py-solc==3.2.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycryptodome==3.11.0
pydantic==1.8.2
PyJWT==2.3.0
pyparsing==2.4.7
pyrsistent==0.18.0
python-dateutil==2.8.1
python-dotenv==0.19.0
PyYAML==5.4.1
requests==2.25.1
requests-oauthlib==1.3.0
rlp==2.0.1
rsa==4.7.2
scikit-learn==0.24.2
scipy==1.5.4
semantic-version==2.8.5
six==1.15.0
starlette==0.14.2
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.5.0
tensorflow-estimator==2.5.0
termcolor==1.1.0
threadpoolctl==2.2.0
toolz==0.11.2
typing-extensions==3.7.4.3
urllib3==1.26.5
uvicorn==0.15.0
varint==1.0.2
watchgod==0.7
web3==5.25.0
websockets==9.1
Werkzeug==2.0.1
wincertstore==0.2
wrapt==1.12.1
xlwings
yarl==1.7.2
